# OS
.DS_Store

# Build folders
build/
out/
.gradle

/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
